*{
  box-sizing: border-box;
}
.Ruben-Uriel-Gutierrez {
  color:rgb(165, 255, 240);
  font-weight: 250px;
  padding: 10px 20px;
  margin: 20px 10px;
  pointer-events: auto;
}
header{
  display:flex;
  justify-content: space-between;
  height: 50px;
}
.dropdown{
  position:absolute;
  display:none;
  width:fit-content;
  font-family: Georgia, 'Times New Roman', Times, serif;
   align-items: center;
  justify-content: center;
}
button#mybutton.dropbtn{
  top:30px;
  left:0;
  height:calc(100vh - 50px);
  width:100%;
  position: absolute;
  
}
ul{
  list-style-type: none;
  height:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
ul li{
  padding: 5px;
  margin-left: 10px;
 
}
#new{
  color: #aaf0fb;
  text-align: left;
  text-shadow: #38355a;
  font-size: 20px;
}
li{
  list-style-type: none;
}
.droptbtn{
  text-decoration: none;
  font-weight: bold;
  color:rgb(165, 255, 240);
  font-weight: 250px;
  padding: 10px 20px;
  margin: 20px 10px;
  background-color: #aaf0fb;
  border: radius 0.25rem;
  box-shadow: 0px 2px 5px 0px rgb(0,0,0,.1);
}
.link{
  text-align: center;
  color:#aaf0fb;
  text-shadow:1px 1px#46355a;

}
.droptbtn :hover{
  color:#46355a;
}
.dropdown-content{
  text-align: center;
  top:calc(100%+.5em);
  background-color: hsl(from color h s l);
  padding: 0.75em;
  border-radius: .25em;
  transition-duration: 4ms;
  border: radius 0.25rem;
  box-shadow: 0px 2px 5px 0px rgb(0,0,0,.1);
  text-shadow: 2px 2px #46355a;
  width: max-content;
}
#myDropdown.dropdown-content {
   display: flex;
   align-items: center;
   justify-content: center;
  width: fit-content;
   height: fit-content;
   position: absolute;

}
button {
  font-weight: bold;
  color: #aaf0fb;
  background-color:#1966ff8f;
  text-shadow: 2px 2px 1px #35365acb;
  font-size: 24px;
  border: none;
  cursor: pointer;
  outline: none;
  margin: auto;
  color:rgb(165, 255, 240);
  font-weight: 250px;
  padding: 10px 20px;
  margin: 20px 10px;
  width:fit-content;
}
img {
  display: block;
  margin: auto;
}

.href{
    padding: 30px 20px;
    Border: 10px 40px;
    Margin: 10px 10px;
    color:rgba(53, 195, 242, 0.712)
}
a {
   text-decoration: none;
  background:none;
  color: #aaf0fb;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding:0;
  transition-duration: 5ms;
 block-size:auto;
}
a :hover{
  color: #46355a;
}

.navigation{
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(104, 2, 2);
}
#passion{
    color: #aaf0fb;
    text-align: center;
    font-size: 30px;
    font-family: Monaco;  
    padding: 50px 20px 100px 10px;
    margin: auto;
    border:30px 10px;
    background: content-box ;
  text-shadow: 1px 1px 3px #46355a; 


}
.text{
  color: #aaf0fb;
  text-align: center;
  font-size: 30px;
  font-family: Monaco;
  text-shadow: 1px 1px 3px #46355a; 
  margin: auto;
}
.images{
    margin:auto;

}
#footer{
    text-align: center;
    font-size: 10px;
    font-weight: 20px;
    color:rgb(0, 55, 193);
    padding: 880px 30px 20px 30px;
    margin: 10px 20px;
    text-shadow: 2px 2px 3px #f9ffcf; 
    
}

body{
    background: linear-gradient(#1966ff, #d0fff2);
    padding: 10px 20px 1000px 20px;

    
}
.Ruben-Uriel-Gutierrez,h1 {
  text-align: right;
  color:rgb(10, 169, 222);
  font-weight:100px;
  padding: 10px 20px;
  margin: 20px 10px;
}

h1{
    text-align: left;
    color:rgba(171, 254, 255, 0.75);
    text-shadow: 1px 1px #46355ad8;
    font-size: 28px;
    font-weight:100px;
    padding: 10px 20px;
    margin: 20px 10px;
}
#grad {
    background-image: repeating-linear-gradient  linear-gradient(#1966ff, #d0fff2);
}
.series {
  text-align: center;
  color:rgba(171, 254, 255, 0.75);
  text-shadow: 2px 2px #46355a;
  font-size: 60px;
  margin: 10px 40px;
  padding: 230px 20px 100px 10px;
  transition-duration: 2s;
}
.dropbtn >  .link:focus + .dropdown-content {
  opacity: 1;

}
.dropdown:hover .dropdown-content {
  display: block;}
  .photo-grid{
    display:grid;
    gap: 1rem;

    grid-template-columns: (auto-fit,minmax(900px,1600px));
    grid-auto-rows: 600px ;

  }
  .card-tall{
    grid-row: span 1 / auto;
  }
  .card-wide{
    grid-column: span 1 / auto;
  }
  .dropbtn{
    font-size: 20px;
    border-radius: 8px;
 transition-duration: 0.3s;
 text-align: center;
  }
  .dropbtn:hover{
   background-color: rgb(165, 255, 240);
   color:#01205e;
  }
  .series:hover{
    color:#38355a;

  }
  ::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar
  {
    width: 10px;
    background-color: #0930a4;
  }
  
  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
                       left bottom,
                       left top,
                       color-stop(0.44, rgb(117, 227, 255)),
                       color-stop(0.72, rgb(73,125,189)),
                       color-stop(0.86, rgb(32, 87, 255)));
  } 
 .container {
  position: relative; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 6px;
}

.image {
  display: block;
  width: 50%;
  height: auto;
    margin-left: auto;
  margin-right: auto;
  border-radius: 18px;
  
}

span{
  margin:auto;
}

@media only screen and (max-width: 980px) {
   header nav {
    display:none;
  }
  .dropdown {
  display: block;
}
}